/*
 *  Sammy Heutz
 *  10445765
 * 
 * Index.css is the stylesheet for index.html
**/

header {
	text-align: center;
}

body{
	text-align: center;
}


/* positioning and styles of visualizations, map title and legend*/
#outercontainer {
	position:relative;
	width: 1300px;
	height :400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

#container { 
	position: relative; 
	float:left;
	width: 600px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	background-color: white;
	box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

#barchart {
	position:relative;
	float:right;
	width: 600px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	background-color: white;
	box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
	text-align: center;
}

#maptitle{
	position: absolute;
	left:200px;
	top:0px;
}


.legend {
	position:absolute;
	left:5px;
	top:30px;
}


/* creating tooltip*/
.d3-tip {
line-height: 1;
font-weight: bold;
padding: 12px;
background: rgba(0, 0, 0, 0.8);
color: #fff;
border-radius: 2px;
}

.d3-tip:after {
box-sizing: border-box;
display: inline;
font-size: 10px;
width: 100%;
line-height: 1;
color: rgba(0, 0, 0, 0.8);
content: "\25BC";
position: absolute;
text-align: center;
}

.d3-tip.n:after {
margin: -1px 0 0 0;
top: 100%;
left: 0;
}

/* hover styles for map, bar and dropdown*/
path:hover {
	fill: rgba(8, 81, 156, 0.2);
	cursor:pointer;
}

rect:hover {
	fill: orange;
}

.dropdown:hover .dropdown-item {
	cursor:pointer;
}


/* axes */
	.axis path,
	.y.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	stroke-width: 1px;
}


/* legend colours*/
.stop-top {
	stop-color: red 
}

.stop-bottom {
	stop-color: green  
}

.filled {
	fill: url(#mainGradient);
}